/* Navbar */
.mp-navbar {
    background-color: var(--mp-dark-brown);
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    &.navbar-scrolled {
      padding: 10px 0;
      background-color: rgba(77, 51, 25, 0.95);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }
  
  .mp-logo {
    font-family: var(--mp-heading-font);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--mp-white);
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    padding: 0 15px;
    transition: all 0.3s ease;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link.active {
    color: var(--mp-white);
    
  }
  a.nav-link.mp-btn-outline {
    background: #c25e00;
    padding: 6px !important;
}
  .navbar-dark .navbar-nav .mp-btn-outline {
    margin-left: 15px;
  }
  
  @media (max-width: 991px) {
    .mp-navbar .navbar-nav {
      padding: 15px 0;
    }
    
    .mp-navbar .nav-link {
      padding: 10px 0;
    }
    
    .navbar-dark .navbar-nav .mp-btn-outline {
      margin-left: 0;
      margin-top: 10px;
      display: inline-block;
    }
  }