/* Import global styles */
@import './variables';
@import './globals';

/* Import component styles */
@import './components/navbar';
@import './components/about';
@import './components/program';
@import './components/hero';
@import './components/sections';
@import './components/cards';
@import './components/timeline';
@import './components/forms';
@import './components/accordion';
@import './components/footer';